/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row_custom {
  display: flex;
  justify-content: center;
  /* or 'start' or 'space-between' */
  gap: 1rem;
  /* horizontal spacing between buttons */
  flex-wrap: nowrap;
  /* optional: keep in one row */
}

.buttons_custom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}